.main-home{
    margin-left: 165px;
    margin-top: -88.80vh;

}
img#home {
    height: 90vh;
    width: 100%;
}
@media screen and (max-width: 993px) {
    img#home {
      margin-left: 0px;
      margin-top: 90vh;

    }
    .main-home{
      margin-left: 0px;
      
        
  }
  }
.hame-card {
    margin-top: -88vh;
    margin-left: 3%;
}
b {
  font-size: 20px;
}
card-body {
  font-size: larger;
}
