a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
@media screen and (max-width: 993px) {
    .main-side {
      display: none;
    }
  }
  .main-side {
    width: 160px;
    background:darkcyan ;
}
ul{
  padding-inline-start: 20px;
  margin: 5px 0px;
}
li {
  padding: 5px;
}
a {
  color: black;
}
a:hover{
  color: white;
}
.add-bar {
  height: 80vh;
}

