.login-form {
    height: 25vh;
    margin-top: 20vh;
    background: slategray;
    width: 300px;
    padding: 20px;
}
label#email {
    margin-right: 32px;
}
h1 {
    margin-top: 0;
    text-align: center;
}
button#sumbmit {
    background: #4CAF50;
    height: 30px;
    border-radius: 10px;
   
}
@media screen and (max-width: 993px) {
    .login-form {
        margin-left: 30%;
        margin-top: 20vh;
        
    }

}
@media screen and (max-width: 511px){
.login-form {
    width: 90%;
    margin-left: 0px;
}
}
.login-area {
    justify-content: center;
    height: 95vh;
    display: flex;
    background: darkslategray;
}