.main-nav {
    padding: 10px;
    background-color: cadetblue;
    
}
input[type="text"] {
    margin: 5px;
    margin-right: 0px;
}
ul#nav {
    display: inline-flex;
    padding-left: 0px;
}
ul#nav1 {
    display: inline-flex;
}